@media screen and (max-width: 700px) {
    .lists {
        height: 200px;
    }

    .lists li {
        width: calc(100% / 3);
    }

    .col {
        width: calc(100% / 2);
    }

    .ball {
        display: none;
    }
}