@media screen and (max-width: 600px) {
    .left {
        width: 50px;
    }

    .right {
        width: calc(100% - 50px);
    }

    .upgrade {
        width: calc(100% - 50px);
    }
    .logo {
        display: none;
    }
    
    .logo-small {
        display: block;
    }

    .border-left span {
        display: none;
    }
    .list li span {
        display: none;
    }

    .playlists {
        display: none;
    }

    .download a {
        display: none;
    }

    .account i {
        font-size: 1.6rem;
    }

    hr {
        display: none;
    }

    .account span {
        display: none;
    }

    /* RIGHT SECTION */

    .lists li {
        width: calc(100% / 4);
    }
}